* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.font-family {
    font-family: 'Lato', sans-serif;
}


@media (min-width: 576px) {
    .btn-circle {
        height: 1.5rem !important;
        width: 1.5rem !important;
        border-radius: 9999px;
        padding: 0px;
    }
}